<mat-card>
  <h3>Buscar Filme</h3>

  <mat-form-field appearance="fill" class="customiza-card">
    <mat-label>Digite o título do filme</mat-label>
    <input matInput type="search" [(ngModel)]="valorBuscaFilme" (keyup)="buscarFilmes()" />
  </mat-form-field>

  <ul>
    <li *ngFor="let filme of filmesEncontrados">
      {{ filme.titulo }}
    </li>
  </ul>
</mat-card>

<mat-card>
  <h3>Adicionar Filme</h3>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Título</mat-label>
    <input matInput type="text" [(ngModel)]="tituloFilme" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Gênero</mat-label>
    <input matInput type="text" [(ngModel)]="generoFilme" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Duração (minutos)</mat-label>
    <input matInput type="number" [(ngModel)]="duracaoFilme" min="0" />
  </mat-form-field>

  <div class="botao-container">
    <button mat-raised-button color="primary" class="botao-custom" (click)="adicionarFilme()">Cadastrar Filme</button>
  </div>
  <!-- <button mat-raised-button color="primary" (click)="adicionarFilme()">Cadastrar Filme</button> -->
</mat-card>

<mat-card>
  <h3>Filmes Cadastrados</h3>

  <ul>
    <li *ngFor="let filme of filmesComId$ | async">
      <strong>{{ filme.titulo }}</strong> - {{ filme.genero }} - {{ filme.duracao }} min

      <div class="button-container">
        <button mat-button class="editar-botao" (click)="preencherCamposParaAtualizacao(filme)">
          <mat-icon>edit</mat-icon> Editar
        </button>
        
        <button mat-button class="excluir-botao" (click)="excluirFilme(filme.id)">
          <mat-icon>delete</mat-icon> Excluir
        </button>
      </div>
    </li>
  </ul>
</mat-card>


<mat-card>
  <h3>Atualizar Filme</h3>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Título</mat-label>
    <input matInput type="text" [(ngModel)]="tituloAtualizarFilme" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Gênero</mat-label>
    <input matInput type="text" [(ngModel)]="generoAtualizarFilme" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Duração (minutos)</mat-label>
    <input matInput type="number" [(ngModel)]="duracaoAtualizarFilme" min="0" />
  </mat-form-field>

  <div class="botao-container">
    <button mat-raised-button color="primary" class="botao-custom" (click)="atualizarFilme()" [disabled]="!idFilmeParaAtualizar">
      Salvar Alterações
    </button>
  </div>
</mat-card>
