<h3>
  Buscar Filme
</h3>

<div>
  <input type="search" 
    [(ngModel)]="valorBuscaFilme"
    (keyup.enter)="buscarFilmePorId()" />
</div>

<p>
  Filme Encontrado: {{ (filmeEncontrado$ | async)?.titulo}}
</p>

<h3>
  Adicionar Pessoa
</h3>

<div>
  <input type="text"  
    [(ngModel)]="tituloFilme" />

  <input type="text"  
  [(ngModel)]="generoFilme" />

  <input type="number"  
  [(ngModel)]="duracaoFilme" />
</div>

<button (click)="adicionarFilme()">Cadastrar Filme</button>

<ul>
  <li *ngFor="let filme of filmesComId$ | async">
    <strong>{{ filme.titulo }}</strong> - {{ filme.genero }} - {{ filme.duracao }} min
    <button (click)="preencherCamposParaAtualizacao(filme)">Editar</button>
    <button (click)="excluirFilme(filme.id)">Excluir</button>
  </li>
</ul>

<h3>
  Atualizar Filme
</h3>

<div>
  <input type="text"  
    [(ngModel)]="tituloAtualizarFilme" />

  <input type="text"  
  [(ngModel)]="generoAtualizarFilme" />

  <input type="number"  
  [(ngModel)]="duracaoAtualizarFilme" />

  <input type="hidden"  
  [(ngModel)]="idFilmeParaAtualizar" />

  <p>Valor do ID: {{ idFilmeParaAtualizar }}</p>

  <button (click)="atualizarFilme()" [disabled]="!idFilmeParaAtualizar">Salvar Alterações</button>
</div>
