html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.customiza-card{
    width: 300px;
}
  
mat-card {
    margin: 16px;
    padding: 16px;
}

.botao-container {
    display: flex;
    justify-content: center;
}
  
.botao-custom {
    width: 200px; 
    background-color: #1e88e5;
    color: white;
    font-size: 14px;
    padding: 8px 16px;
    border-radius: 4px;
    text-align: center;
}

.botao-custom:hover {
    background-color: #1565c0;
}


.button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}